__hubitat_session
hubitat_hubspider.cfg
*.cpython-*.pyc
/DEVELOPER
/drivers/expanded/tasmota-tuya-wifi-touch-switch-legacy-child-expanded.groovy
/drivers/OLD_drivers
/__hubitat_checksums
/drivers/expanded/*-testing*-expanded.groovy
/private
/_tmpdhcp*
/.vscode/.ropeproject
/hhs_10_*.cfg
/__hubitat_session_id_*
/__hubitat_checksums_id_*
/drivers/OBSOLETE-tasmota-ykyc-001-pm-plug.groovy
/drivers/expanded/testing-bare-minimum-driver-expanded.groovy
